{% extends "base.html" %}

{% block content %}
    <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Blog ID</th>
                <th scope="col">Blog Title</th>
                <th scope="col">Last Created</th>
            </tr>
            </thead>
            <tbody>

            <!-- Construct the rest of users here -->
            {% if blogs %}
                {% for blog in blogs %}
                    <tr>
                    <td scope='row'>{{blog.blog_id}}</td>
                    <td>{{ blog.title }}</td>
                    <td>{{ blog.created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td><a href="{{ url_for('blogs' ,blog_id=blog.blog_id) }}"><button class="btn-enroll" type="button">Show</button></a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <h1>No blogs</h1>
            {% endif %}


            </tbody>
        </table>
{% endblock %}




